//-
	Rule the words! KKuTu Online
	Copyright (C) 2017 JJoriping(op@jjo.kr)
	
	This program is free software: you can redistribute it and/or modify
	it under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
	
	You should have received a copy of the GNU General Public License
	along with this program. If not, see <http://www.gnu.org/licenses/>.
extends layout

mixin Dialog(id, w, h, t, nocls)
	div.dialog(id=id, style=`width: ${w}px; height: ${h}px;`)
		div(class=nocls ? 'no-close dialog-head' : 'dialog-head')
			div.dialog-title(style=`width: ${w - 20}px;`)!= t || ''
		div.dialog-body(style='font-size: 13px;')
			block
	
mixin GameOption(key, prefix)
	- var name = locals.OPTIONS[key].name;
	- var sid = name.toLowerCase();
	div.dialog-opt(id=`${prefix}-${sid}-panel`)
		input.game-option(id=`${prefix}-${sid}`, type='checkbox', style='margin-top: 5px; width: auto;')
		label(for=`${prefix}-${sid}`)!= L(`opt${name}`)
		+Expl(true)
			div!= L(`expl${name}`)

mixin SettingOption(id, text, st)
	div.dialog-opt(style=st || "")
		input(id=id, type='checkbox', style='margin-top: 5px; width: auto;')
		label(for=id)!= text

block Subject
	title= L('title')

block JS
	script(type='text/javascript', src='/js/in_game_kkutu.min.js')
	script(type='text/javascript', src='/js/fabric.min.js')
	script(type='text/javascript', src='/js/diff-match-patch-compressed.js')
	script(type='text/javascript', src='/js/vanilla-tilt.min.js')
	script(src='https://challenges.cloudflare.com/turnstile/v0/api.js?compat=recaptcha', async, defer)

block CSS
	link(rel='stylesheet', href='/css/in_game_kkutu_shop.css')
	
block Jungle
	div.middleFixer
	span#PUBLIC= PUBLIC ? "true" : undefined
	// span#PORT= locals.PORT
	span#URL= `${locals.PROTOCOL}://${locals.HOST}:${locals.PORT}/${locals._id}`
	span#MOREMI_PART= locals.MOREMI_PART.join(',')
	span#AVAIL_EQUIP= locals.AVAIL_EQUIP.join(',')
	span#RULE= JSON.stringify(locals.RULE)
	span#OPTIONS= JSON.stringify(locals.OPTIONS)
	div#Yell
		// img#intro-start(src='/img/kkutu/intro_start.gif')

	div#Balloons(style='position: absolute;')
	-
		LANG['explInjeong'] = `<h5>${L('explInjeong')}</h5>\
			<h5 style='margin-top: 2px; border-top: 1px dashed #444444; padding-top: 2px; color: #BBBBBB;'>${L('explInjeongListTitle')}</h5>\
			<h5>${locals.KO_INJEONG.map(function(item){ return L('theme_' + item); })}</h5>\
			<h5 style='margin-top: 2px; border-top: 1px dashed #444444; padding-top: 2px; color: #BBBBBB;'>${L('explInjeongListTitle')} (${L('modeEKT')}, ${L('modeESH')})</h5>\
			<h5>${locals.EN_INJEONG.map(function(item){ return L('theme_' + item); })}</h5>`;
	div.kkutu-menu
		div.kkutu-wrap
			div.kkutu-left
				button.icnbtn#HelpBtn.tiny-menu.for-lobby.for-master.for-normal.for-gaming(style='display: none;')!= L('help')
				button.icnbtn#Community2Btn.tiny-menu.for-lobby.for-master.for-normal.for-gaming(style='display: none;')!= L('cafe')

			div.kkutu-center
				button.mainbtn#SpectateBtn.for-master.for-normal(style='display: none;')!= L('spectate')
				button.mainbtn#SetRoomBtn.for-master(style='display: none;')!= L('setRoom')
				button.mainbtn#NewRoomBtn.for-lobby(style='display: none;')!= L('newRoomTitle')
				button.mainbtn#QuickRoomBtn.for-lobby(style='display: none;')!= L('quickRoom')
				button.mainbtn#ShopBtn.for-lobby(style='display: none;')!= L('shop')
				button.mainbtn#DictionaryBtn.for-lobby.for-master.for-normal.for-gaming(style='display: none;')!= L('dict')
				// button#WordPlusBtn.for-lobby.for-master.for-normal.for-gaming(style='display: none;')!= L('wordPlus')
				button.mainbtn#InviteBtn.for-master(style='display: none;')!= L('invite')
				button.mainbtn#profile-dress.for-lobby(style='display: none;')!= L('dress')
				button.mainbtn#PracticeBtn.for-master.for-normal(style='display: none;')!= L('practice')
				button.mainbtn#ReadyBtn.for-normal(style='display: none;')!= L('ready')
				button.mainbtn#StartBtn.for-master(style='display: none;')!= L('start')
				button.mainbtn#ExitBtn.for-master.for-normal.for-gaming(style='display: none;')!= L('exit')
				button.mainbtn#ReplayBtn.for-lobby(style='display: none;')!= L('replay')
				button.mainbtn#LeaderboardBtn.for-lobby(style='display: none;')!= L('leaderboard')
			div.kkutu-left
				button.icnbtn#SettingBtn.tiny-menu.for-lobby.for-master.for-normal.for-gaming(style='display: none;')!= L('settings')
				button.icnbtn#CommunityBtn.tiny-menu.for-lobby.for-master.for-normal.for-gaming(style='display: none;')!= L('community')
				
block Top 
	div#Top
		+Menu()
		div#global-notice
			div#gn-content
				include ../public/global_notice.html
		+Expl(L('GLOBAL_NOTICE'))

block Middle
	- var VERSION = L('version');
	- var nick = SESSION.profile ? (SESSION.profile.title || SESSION.profile.name) : null;


	div#dimmer(style="display: none;")
	div#tost_message
	
	+Dialog('SettingDiag', 400, 540, L('settingsText', false))
		div.dialog-bar
			h4.opt!= "배경음악 설정"
			+SettingOption('legacy-bgm', "원작 BGM")
		div.dialog-bar
			h4.opt!= "배경음악 볼륨"
			input#bgm-volume.range-input(type='range' min='0' max='1' value='0.5' step='0.01' style='width:50%;')
		div.dialog-bar
			h4.opt!= "효과음 볼륨"
			input#effect-volume.range-input(type='range' min='0' max='1' value='0.5' step='0.01' style='width:50%;')
		div.dialog-bar
			h4.opt!= L('denyReq')
			+SettingOption('deny-invite', L('denyInvite', false))
			+SettingOption('deny-whisper', L('whisper', false))
			+SettingOption('deny-friend', L('friendAdd', false))
		div.dialog-bar
			h4.opt!= L('ingames')
			+SettingOption('auto-ready', L('autoReady', false))
			+SettingOption('copyright-hide', "저작권 정보 보지 않기")
		div.dialog-bar
			h4.opt!= L('etc')
			+SettingOption('sort-user', L('sortUser'), "width: 200px;")
			h4
			+SettingOption('only-waiting', L('onlyWaiting'), "width: 200px;")
			h4
			+SettingOption('only-unlock', L('onlyUnlock'), "width: 200px;")
		div.dialog-bar.tail-button.d3-bar
			button.primaryBtn#setting-ok= L('save')
			button#setting-server= L('changeServer')
	+Dialog('CommunityDiag', 300, 300)
		div.dialog-bar(style='height: 225px; overflow-y: scroll;')
			div#comm-friends
		div.dialog-bar.tail-button.d3-bar
			button#comm-friend-add= L('friendAdd')
	+Dialog('LeaderboardDiag', 300, 550, L('leaderboard', false))
		div.dialog-bar(style='height: 400px;'): table#ranking(style='text-align: center;')
			thead(style='font-weight: bold; background-color: #DDDDDD;'): tr
				td(width=30) #
				td(width=55)!= L('LEVEL')
				td(width=115)!= L('nickname')
				td(width=100)!= L('recordScore')
			tbody
		div.dialog-bar: h4(style='width: 100%;')#lb-page
		div.dialog-bar.tail-button.d3-bar
			button#lb-prev= L('prevPage')
			button#lb-me= L('myRank')
			button#lb-next(style='margin-right: 6px;')!= L('nextPage')
			
	+Dialog('QuickDiag', 300, 320, L('quickRoom', false))
		div.dialog-bar
			h4.opt!= L('gameMode')
			select#quick-mode
				- for(var i in locals.MODE)
					option(value=Number(i))!= L('mode' + locals.MODE[i])
		div.dialog-bar(style='height: 59px;')
			h4.opt!= L('misc')
			- for(var i in locals.OPTIONS)
				+GameOption(i, 'quick')
		div.dialog-bar
			h4(style='width: 100%; height: 20px;')#quick-status
		div.dialog-bar
			h4(style='width: 100%; height: 20px;')#quick-queue
		div.dialog-bar.tail-button.d3-bar
			button.primaryBtn#quick-ok= L('OK')
	+Dialog('RoomDiag', 310, 720, "방 만들기")
		div.dialog-bar
			h4.opt!= L('roomTitle')
			input#room-title(placeholder=(nick || L('guest', false))+L('roomDefault'), maxlength=20)
		div.dialog-bar
			h4.opt!= L('password')
			input#room-pw(type='password', placeholder=L('password'), maxlength=20)
		div.dialog-bar
			h4.opt!= L('userLimit')
			input#room-limit(type='number', min=2, max=12, step=1, value=9)
		div.dialog-bar
			h4.opt!= L('gameMode')
			select#room-mode
				optgroup(label=L('mcKorean'))
					option(value=3)= L('modeKSH')
					option(value=2)= L('modeKKT')
					option(value=8)= L('modeKAP')
					option(value=6)= L('modeKTY')
					option(value=10)= L('modeKDA')
					option(value=5)= L('modeKCW')
					option(value=12)= L('modeKSS')
					option(value=4)= L('modeCSQ')
					option(value=9)= L('modeHUN')
					option(value=14)= L('modeKDG')
				optgroup(label=L('mcEnglish'))
					option(value=1)= L('modeESH')
					option(value=0)= L('modeEKT')
					option(value=7)= L('modeETY')
					option(value=11)= L('modeEDA')
					option(value=13)= L('modeESS')
					option(value=15)= L('modeEDG')
		div.dialog-bar(style='margin-top: -5px; height: 50px;')
			h4
			h4#game-mode-expl.dialog-bar-value(style='width: 100%; font-size: 11px;')
		div.dialog-bar
			h4.opt!= L('numRound')
			input#room-round(type='number', min=1, max=10, step=1, value=6)
		div.dialog-bar
			h4.opt!= L('roundTime')
			select#room-time
				option(value=10, style='color: #FF4444')
				option(value=30)
				option(value=60)
				option(value=90, selected)
				option(value=120)
				option(value=150)
		div.dialog-bar
			h4.opt!= L('misc')
			- for(var i in locals.OPTIONS)
				+GameOption(i, 'room')
			div.dialog-opt#room-injpick-panel
				button#room-injeong-pick(style='font-size: 11px;')!= L('pickInjeong')
		div.dialog-bar.tail-button.d3-bar
			button.primaryBtn#room-ok= L('OK')
	+Dialog('InjPickDiag', 300, 440, L('pickInjeong', false))
		h4.opt(style='font-size: 16px; text-align: center; color: #486AA3;')!= L('explInjPick')
		div.dialog-bar
			button#injpick-all= L('injpickAll')
			button#injpick-no= L('injpickNo')
		div.dialog-bar#injpick-list(style='height: 280px; overflow-y: scroll;')
			div.dialog-opt#ko-pick-list(style='width: 100%;')
				- locals.KO_THEME.concat(locals.KO_INJEONG).forEach(function(item){
					- var name = "ko-pick-" + item;
					- if(locals.IJP_EXCEPT.indexOf(item) != -1) return;
					div(style='float: left; width: 100%; margin-bottom: 6px;')
						input(id=name, type='checkbox', style='width: auto;')
						label(for=name)!= LANG['theme_' + item]
				- });
			div.dialog-opt#en-pick-list(style='width: 100%;')
				- locals.EN_THEME.concat(locals.EN_INJEONG).forEach(function(item){
					- var name = "en-pick-" + item;
					- if(locals.IJP_EXCEPT.indexOf(item) != -1) return;
					div(style='float: left; width: 100%; margin-bottom: 6px;')
						input(id=name, type='checkbox', style='width: auto;')
						label(for=name)!= LANG['theme_' + item]
				- });
		div.dialog-bar.tail-button.d3-bar
			button.primaryBtn#injpick-ok= L('OK')
	+Dialog('PracticeDiag', 300, 250)
		div.dialog-bar
			h4.opt!= L('selectLevel')
			select#practice-level
				option(value=0)!= L('aiLevel0')
				option(value=1)!= L('aiLevel1')
				option(value=2)!= L('aiLevel2')
				option(value=3)!= L('aiLevel3')
				option(value=4, selected)!= L('aiLevel4')
		div.dialog-bar
			h4.opt!= L('team')
			select#ai-team
				option(value=0, selected)!= L('teamSolo')
				option(value=1) A
				option(value=2) B
				option(value=3) C
				option(value=4) D
		div.dialog-bar.tail-button.d3-bar
			button.primaryBtn#practice-ok= L('OK')
	+Dialog('ResultDiag', 400, 560, L('gameResult'), true)
		div.result-board
		div.result-me
			div.result-me-score
			div.result-me-money
			div.result-me-level
				div.result-me-level-head= L('LEVEL')
				div.result-me-level-body
			+GraphBar('result-me-gauge')
			div.result-me-score-text
			div.expl.result-me-expl
		div.dialog-bar.tail-button.d3-bar
			button.primaryBtn#result-ok= L('OK')
			button#result-save= L('saveReplay')
	+Dialog('DictionaryDiag', 400, 540, L('dict', false))
		h4.opt(style='font-size: 14px; text-align: center; color: #486AA3;')= "저희 플러스끄투는 타 끄투 프리서버의 데이터를 가져올 수 없으므로 여러분들의 기여가 절실히 필요합니다. 우수 기여자 1인에게는 매달 1500핑을 제공 예정이오니 많은 등록 바랍니다."
		div.dialog-bar
			h4.opt!= "키워드 입력"
			input#dict-input(style='width: 283px;', placeholder=L('wpInput'), maxlength=200)
		div.dialog-bar
			h4.opt!= "주제 선택"
			select#dict-theme
				option(value="")!= L('pickInjeong')
				- locals.KO_INJEONG.forEach(function(item){
					option(value=item)!= L('theme_' + item)
				- });
		h4.opt(style='font-size: 14px; text-align: center; color: #486AA3;')= "404 오류 발생 시 없는 단어이므로 등록하셔도 좋습니다."
		div.dialog-bar#dict-output(style='height: 195px; overflow-y: scroll; color: #BBBBBB; background-color: #111111;')
		div.dialog-bar.tail-button.d3-bar
			button#dict-search= "중복 확인"
			button#dict-injeong= L('injeongReq')
	+Dialog('InviteDiag', 300, 445, L('invite', false))
		div.invite-board(style='height: 355px; overflow-y: scroll;')
		div.dialog-bar.tail-button.d3-bar
			button#invite-robot= L('inviteRobot')
	+Dialog('RoomInfoDiag', 300, 587)
		div.dialog-bar.room-info-head
			h4.opt!= L('roomTitle')
			h4.dialog-bar-value.ellipse#ri-title
			h4.opt!= L('gameMode')
			h4.dialog-bar-value#ri-mode
			h4.opt!= L('rounds')
			h4.dialog-bar-value#ri-round
		div.dialog-bar(style='padding: 2px 0px; border-top: 1px dashed #CCC; margin: 2px 0px;')
			h4.opt!= L('players')
			h4.dialog-bar-value#ri-limit
		div.dialog-bar(style='height: 190px; overflow-y: scroll;')
			div#ri-players(style='width: 100%;')
		div.dialog-bar.tail-button.d3-bar
			button#room-info-join= L('join')
	+Dialog('ProfileDiag', 368,500)
		div.dialog-bar.profile-head
		div.dialog-bar
			h4(style='width: 83px;')!= L('place')
			h4.dialog-bar-value#profile-place
		div.dialog-bar.profile-record(style='padding: 2px 0px; border-top: 1px dashed #CCC; margin: 2px 0px; height: 175px; overflow-y: scroll;')
			div.profile-record-field(style='font-weight: bold; text-align: center;')
				div.profile-field-name= L('gameMode')
				div.profile-field-record= L('record')
				div.profile-field-score= L('recordScore')
			div#profile-record
		div.dialog-bar.tail-button.d3-bar
			button#profile-whisper= L('whisper')
			button#profile-shut= L('shut')
			button#profile-kick= L('kick')
			button#profile-level= L('aiSetting')
			button#profile-handover= L('handover')
	+Dialog('KickVoteDiag', 300, 160, L('kickVote', false))
		div.dialog-bar#kick-vote-text(style='text-align: center;')
		div.dialog-bar(style='text-align: center;')!= L('kickVoteNotice')
		div.dialog-bar
			+GraphBar('kick-vote-time')
		div.dialog-bar.tail-button.d3-bar
			button#kick-vote-no= L('disagree')
			button#kick-vote-yes= L('agree')
	+Dialog('PurchaseDiag', 300, 600, L('purchase', false))
		h4.opt(style='font-size: 14px; text-align: center; color: #486AA3;')= "구매하시겠어요?"
		div.dialog-bar
			h4.opt!= L('pingBefore')
			h4.dialog-bar-value.purchase-ping#purchase-ping-before
		div.dialog-bar
			h4.opt!= L('pingCost')
			h4.dialog-bar-value.purchase-ping#purchase-ping-cost
		div.dialog-bar
			h4.opt!= L('pingAfter')
			h4.dialog-bar-value.purchase-ping#purchase-ping-after
		div.dialog-bar
			h4.opt!= L('moremiAfter')
			div.moremi#moremi-after(style='float: left; width: 100px; height: 100px;')
		div.dialog-bar
			h4#purchase-item-name(style='width: 100%; font-weight: bold;')
		div.dialog-bar
			h4#purchase-item-desc(style='width: 100%;')
		div.dialog-bar.tail-button.d3-bar
			button#purchase-no= L('NO')
			button.primaryBtn#purchase-ok= L('OK')
	+Dialog('ReplayDiag', 300, 470, L('replay', false))
		input#replay-file(type='file', style='width: 288px;', accept=".kkt")
		div.dialog-bar
			h4.opt!= L('replayDate')
			h4.dialog-bar-value#replay-date -
			h4.opt!= L('VERSION')
			h4.dialog-bar-value#replay-version -
		div.dialog-bar
			h4.opt!= L('replayPlayers')
			h4.dialog-bar-value#replay-players -
		div.dialog-bar.tail-button.d3-bar
			button.primaryBtn#replay-view= L('replayView')

	+Dialog('DressDiag', 1000, 510, L('dress', false))
		div(style="display:flex;")
			div
				img#dressitembtn(src="/img/kkutu/dress/deco.png", alt="꾸미기")
				+Expl(true)
					div!= "프로필을 휘장과 여러가지 장식으로 꾸며 보세요"
			div
				img#dress-cf(src="/img/kkutu/dress/lab.png" alt="조합소")
				+Expl(true)
					div!= "게임에서 수집한 글자 조각을 조합해 보세요"
			div
				img#infobtn(src="/img/kkutu/dress/info.png", alt="내 정보")
				+Expl(true)
					div!= "내 전적을 확인해 보세요"
		
	+Dialog('DressItemDiag', 600, 360, L('dress', false))
		div.dialog-bar
			h4(style='width: 150px;')!= L('myExordial')
			input#dress-exordial(type='textfield', placeholder=L('myExordialX'), style='width: 435px;', maxlength=100)
		div.dialog-bar(style='width: 150px;')
			div.moremi#dress-view(style='float: left; width: 150px; height: 150px;')
			h4(style='width: 100%; font-weight: bold;')!= L('myMoremi')
		div.dialog-bar(style='padding: 5px; width: 440px;')
			div(style='border-bottom: 1px solid #CCCCCC; height: 20px;')
				- for(var i in locals.CATEGORIES)
					- var v = locals.GROUPS[locals.CATEGORIES[i]] || [];
					div.category-filter.dress-type(id="dress-type-" + locals.CATEGORIES[i], value=v.join(','))!= L('category_' + locals.CATEGORIES[i])
			div#dress-goods.goods-box
		div.dialog-bar.tail-button.d3-bar
			button.primaryBtn#dress-ok= L('OK')
			button(onclick=`alert("${L("paybackHelp")}");`)!= L('payback')

	+Dialog('CharFactoryDiag', 500, 462, L('charFactory', false))
		div.dialog-bar(style='width: 300px;')
			div#cf-tray
			div#cf-dict
		div.dialog-bar(style='width: 200px;')
			h4(style='border-bottom: 1px solid #CCCCCC; width: 100%; height: 24px;')!= L('cfReward')
			div#cf-reward
		div.dialog-bar(style='width: 200px;')
			div#cf-cost
		div.dialog-bar
			div#cf-goods.goods-box
		div.dialog-bar.tail-button.d3-bar
			button.primaryBtn#cf-compose= L('cfCompose')
	+Dialog('ChatLogDiag', 350, 500, L('chatLog', false))
		div#chat-log-board(style='height: 475px; font-size: 11px; overflow-y: scroll;')
	+Dialog('ObtainDiag', 300, 245, L('notice'), true)
		div.dialog-bar
			h4(style='width: 100%;')!= L('obtained') + '!'
		div.jt-image#obtain-image(style='margin-left: 110px; width: 80px; height: 80px;')
		div.dialog-bar#obtain-name(style='text-align: center;')
		div.dialog-bar.tail-button.d3-bar
			button.primaryBtn#obtain-ok= L('OK')
	+Dialog('HelpDiag', 1000, 540, L('helpText', false))
		iframe#help-board(width=1000, height=350)
	+Dialog('Community2Diag', 1280, 750, "공식 커뮤니티")
		iframe#community2(width=1280, height=700)
	+Dialog('LicenseDiag', 645, 180, "저작권 정보")
		h4.opt(style='text-align: center;')!= L('dictionarySupport')
		h4.opt(style='text-align: center;')!= L('etcSupport')
		h4.opt(style='text-align: center;')!= L('GPL')


	//시스템 UI Override
	+Dialog('NotificationDiag', 700, 180, "플러스끄투 안내")
		p#alertcon(style='text-align: center;font-size: 18px;color: #1F2167;font-weight: 600;')
		div.dialog-bar.d2-bar.tail-button
			button.primaryBtn#alert-ok= L('OK')
	+Dialog('ConfirmDiag', 700, 180, L('OK'))
		p#confirmcon(style='text-align: center;font-size: 18px;')
		div.dialog-bar.d2-bar.tail-button
			button.primaryBtn#confirm-ok= L('OK')
			button#confirm-cancel= "취소"
	
	+Product('UserList')
		div 불러오는 중
	+Product('RoomList')
		div 불러오는 중
	+Product('SideList')
		div 불러오는 중
	+Product('Shop')
		div.shop-categories
			- for(var i in locals.CATEGORIES)
				- var v = locals.GROUPS[locals.CATEGORIES[i]] || [];
				div.category-filter.shop-type(id="shop-type-" + locals.CATEGORIES[i], value=v.join(','))!= L('category_' + locals.CATEGORIES[i])
		div#shop-shelf(style='width: 100%; height: 400px; overflow-y: scroll;')

	+Product('Room')
		div.team-selector
			div.team-button#team-0.team-0= L('teamSolo')
			div.team-button#team-1.team-1 A
			div.team-button#team-2.team-2 B
			div.team-button#team-3.team-3 C
			div.team-button#team-4.team-4 D
		div.room-users
	+Product('Game')
		div.game-head
			div.items
			div.hints(style='display: none;')
			div.tools(style='display: none;')
				div(style="width: 100%")
					div(style="float: left; width: 35%;")
						span#themeis= L('themeis')
					div(style="float: left; width: 65%;")
						span#themeis-title
				div(style="width: 100%")
					div(style="float: left; width: 35%;")
						span#drawing= L('wordis')
					div(style="float: left; width: 65%;")
						span#drawing-title
				div(style="width: 100%")
					label(for="drawing-line-width")= L('drawingLineWidth')
					input#drawing-line-width(type="range", value="1", min="1", max="40")
				.palette
					div
						button.button-color#color-red
					div
						button.button-color#color-orange
					div
						button.button-color#color-yellow
					div
						button.button-color#color-green
					div
						button.button-color#color-blue
					div
						button.button-color#color-indigo
					div
						button.button-color#color-violet
					div
						button.button-color#color-black
					div
						button.button-color#color-white
				div(style="width: 100%")
					div(style="float: left; width: 60%;")
						label(for="drawing-color")= L('drawingColor')
						input#drawing-color(type="color", value="#000000")
					div(style="float: left; width: 40%;")
						button#drawing-clear= L('drawingClear')
			div.b-left.cwcmd(style='display: none;')
				div.cw-q-head
				input#cw-q-input(placeholder=L('inputHere'), style='width: 313px; height: 20px; font-size: 15px;')
				div.cw-q-body
			div.b-left.bb(style='display: none;')
			div.jjoriping
				img.jjoObj.jjoEyeL(src='/img/jjoeyeL.png')
				img.jjoObj.jjoNose(src='/img/jjonose.png')
				img.jjoObj.jjoEyeR(src='/img/jjoeyeR.png')
				div.jjoDisplayBar
					div.jjo-display.ellipse
					+GraphBar('jjo-turn-time')
					+GraphBar('jjo-round-time')
			div.chain
			div.rounds
			div.history-holder
				div.history
		div.game-body
		div.game-input
			input#game-input(placeholder=L('yourTurn')+' '+L('inputChat'), readonly)
	+Product('Me')
		div.moremi.my-image
	+Product('Chat')
		div#Chat
		input#Talk(maxlength=200)
		button#ChatBtn= L('send')
	//+Product('AD')
